#imagen-perrito {
    background-image: url("https://www.elespectador.com/resizer/ti2d1pExzZSzsImY9C3o2NDpKwM=/920x613/filters:format(jpeg)/cloudfront-us-east-1.images.arcpublishing.com/elespectador/IWAGH4BFVVEWDEC22MN3PC6ARM.jpg");
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: -70px center;
}